body {
    background: #f4f5f7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.board {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.column {
    background: #ebecf0;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.column h2 {
    text-align: center;
    color: #333;
}

.tasks {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    background: white;
    padding: 10px 35px 10px 10px;

    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: grab;
    position: relative;
}

.task.dragging {
    opacity: 0.5;
}


.delete-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    background: transparent;
    border: none;
    color: #888;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.2s;
}

.delete-btn:hover {
    color: red;
}

.add-btn {
    margin-top: 10px;
    background: #5aac44;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.add-btn:hover {
    background: #519839;
}

.column.drag-over {
    background: #d4f7d0;
}